   <!--Bulma template for the login from https://bulmatemplates.github.io/bulma-templates/templates/neumorphic-login.html-->
   
    <section class="hero is-fullheight">
      <div class="hero-body has-text-centered">
        <div class="login">
          <form>
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" id = "username" type="text" placeholder="username" autocomplete="username" required />
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input class="input is-medium is-rounded" id= "password" type="password" placeholder="**********" autocomplete="current-password" required />
              </div>
            </div>
            <br />
            <button class="login-form button is-block is-fullwidth is-primary is-medium is-rounded" type="submit">
              Login
            </button>
          </form>
          <br>
          <nav class="level">
          </nav>
        </div>
      </div>
    </section>

<script src="./js/login.js"></script> 
