<!--Using some code from a bulma template https://github.com/BulmaTemplates/bulma-templates/blob/master/templates/register.html -->

<div class="column right has-text-centered">
              <h1 class="title is-4">Sign up today</h1>
              <p class="description">Choose your username and password now!</p>
              <form>
                <div class="field">
                  <div class="control">
                    <input class="input is-medium" id="username-signup" type="text" placeholder="Name">
                  </div>
                </div>

                <div class="field">
                  <div class="control">
                    <input class="input is-medium" id="password-signup" type="email" placeholder="Email">
                  </div>
                </div>
                <button class="signup-form button is-block is-primary is-fullwidth is-medium">Submit</button>
                <br />
              </form>
            </div>

<script src="./js/login.js"></script>